# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/.generated/
coverage/
lib/generated_plugin_registrant.dart

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig